:root {

}

*{
    font-family: helvetica, arial, sans-serif;
    
}

body {
    background-image: url(./images/Wood.jpg);
    background-color: white;
}

header {
    display:flex;
    flex-wrap: wrap;
    /*background-image: url(./images/Wood.jpg);*/
    background-color: rgba(126, 39, 13, 0.836);
    height:100%;
    margin: 0 auto;
    color: #fff;
    font-size: 40px;
}
header h1{
    margin-bottom: 0;
    padding-left: 5px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(126, 39, 13, 0.836);
    /*background-image: url(./images/Wood.jpg);*/
    height: 100%;
    margin: 0 auto;
    justify-content: flex-end;
}
nav li{
    display: inline;
    list-style: none;
    font-size: 25px;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}

.link-underline:hover{
    text-decoration: underline;
}

aside{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    background-color: rgba(126, 39, 13, 0.836);
    border-right: solid rgba(0, 0, 0, 0.726);
    border-width: 5px;
    padding-left: 5px;
    Padding-right: 5px;
}

main img{
    float:right;
    position: relative;
    bottom: 110px;
    right:100px;
   
}

main p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #fff;
}
