/* added all my reoccuring colors here. Tried to add the background image of the wood but it wouldnt work */
:root {
    --backgroundText: #fff;
    --borderUnderlines: rgba(0, 0, 0, 0.726);
    --comingSoon:rgb(233, 20, 13);
    --shadows: rgb(0, 0, 0,0.9);
    --projectBorder: solid black 2px;
    

}

*{
    font-family: helvetica, arial, sans-serif;
    
}
/* I am going to for less is more, plain look. I think the white background with minimal colors makes it look less amatuer - though still very amatuer */
body {
    background-color: white;
}

header {
    display:flex;
    flex-wrap: wrap;
    background-image: url(./images/Wood.jpg);
    height:100%;
    margin: 0 auto;
    color: #fff;
    font-size: 40px;
}
header h1{
    margin-bottom: 0;
    padding-left: 5px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid var(--borderUnderlines);
    background-image: url(./images/Wood.jpg);
    height: 100%;
    margin: 0 auto;
    justify-content: flex-end;
}
nav li{
    display: inline;
    list-style: none;
    font-size: 25px;
}

nav a{
    color: var(--backgroundText);
    text-decoration: none;
    padding: 10px 10px;
}
/*I wanted the links to look more responsive, so I added this in to make them react and have some character when hovered */
.link-underline:hover{
    text-decoration: underline;
}

h2{
  display: flex;
  flex-wrap: wrap;
  margin-right: 2%;
  width: auto;
  border-bottom: solid var(--borderUnderlines) 2px;  
}

section img{
    justify-content: end;
    padding-top: 18px;
    padding-left: 150px;
   
}

section p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 650px;
    text-align: center;
}
/* I didnt really want to have these titles. Though I think they were required and also they communicate that these are representative of project. I made them skewed just to show I knew how */
h3{
    display: flex;
    flex-wrap: wrap;
    position:relative;
    transform:skew(-0.6turn, 1deg);
    margin: -50px;
    padding: 5px;
    top: 115px;
    right: 275px;
    background-image: url(./images/Wood.jpg);
    color: var(--backgroundText);
}

/* adding the effect of removing to subtitle when hovered over the image. Keeps consistant with the coming soon appearing */
figure:hover h3{
    opacity: 0;
    scale: 0;
    transition: 0.5s;
}

address ul{
    list-style: none;
}

footer{
    display:flex;
    flex-wrap: wrap;
    background-image: url(./images/Wood.jpg);
    justify-content: center;
    height:100%;
    margin: 0 auto;
    color: var(--backgroundText);

}
/* tring to keep my selectors, classes and id's sperated. This is the section of classes */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.column{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
    place-content: center;
    height:800px;
    width:auto;
    gap: 5px;
}
.justifyCenter{
    padding-left: 325px;
    padding-top: 25px;
}
/* as I dont have any projects yet, I wanted to add something a little more interesting to the projects section to indicate that in the coming weeks these will be populated with projects! */
.imageProjectBox{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height:500px;
    margin:auto;
    margin-top: 150px;
    border: solid var(--borderUnderlines) 3px;
}

.imageProject1{
    transition:0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/Village.jpg);
    background-position: center;
    background-size: cover;
}

.imageProject1 p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color:var(--comingSoon);
    font-weight: bolder;
}

.imageProject1:hover{
    box-shadow: 0 0 0 300px var(--shadows) inset;
}

.imageProject1:hover p{
    opacity: 1;
    transform: scale(1);
}
/* because each image needed to be in its own flex-box to work, I had to create a class for every image and effect */
.imageProject2{
    transition:0.5s;
    display: flex;
    flex-wrap:wrap ;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-image: url(./images/Cave.jpg);
    background-position: center;
    background-size: cover;
    border: var(--projectBorder)
}

.imageProject2 p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color:var(--comingSoon);
    font-weight: bolder;
}

.imageProject2:hover{
    box-shadow: 0 0 0 300px var(--shadows) inset;
}

.imageProject2:hover p{
    opacity: 1;
    transform: scale(1);
}

.imageProject3{
    transition:0.5s;
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-image: url(./images/Lake.jpg);
    background-position: center;
    background-size: cover;
    border: var(--projectBorder);
}

.imageProject3 p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color:var(--comingSoon);
    font-weight: bolder;
}

.imageProject3:hover{
    box-shadow: 0 0 0 300px var(--shadows) inset;
}

.imageProject3:hover p{
    opacity: 1;
    transform: scale(1);
}

.imageProject4{
    transition:0.5s;
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-image: url(./images/Mountain.jpg);
    background-position: center;
    background-size: cover;
    border: var(--projectBorder);
}

.imageProject4 p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color:var(--comingSoon);
    font-weight: bolder;
}

.imageProject4:hover{
    box-shadow: 0 0 0 300px var(--shadows) inset;
}

.imageProject4:hover p{
    opacity: 1;
    transform: scale(1);
}

.imageProject5{
    transition:0.5s;
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-image: url(./images/forrestMountain.jfif);
    background-position: center;
    background-size: cover;
    border: var(--projectBorder);
}

.imageProject5 p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color:var(--comingSoon);
    font-weight: bolder;
}

.imageProject5:hover{
    box-shadow: 0 0 0 300px var(--shadows) inset;
}

.imageProject5:hover p{
    opacity: 1;
    transform: scale(1);
}
/* because of the images difference in size I had to make an id to target this subtitle directly */
#project1Title{
    display: flex;
    flex-wrap: wrap;
    position:relative;
    transform:skew(-0.6turn, 1deg);
    margin: -50px;
    padding: 5px;
    top: 210px;
    right: 575px;
    background-image: url(./images/Wood.jpg);
}

/* becuase the images in my projects are technically background images I cant get them to play by the rules and adapt to the screen changes. I cant get the images to for a line in a column */
@media screen and (max-width: 768px) {
    main,
    header,
    footer,
    nav,
    section,
    content,
    {
      flex-direction: column;
      justify-content: center;
    }
    
    section p{
        padding-left:10px;
    }
    figure{
        flex-direction: column;
        justify-content: center;
        margin: 0;
        transition: ease;
        transform: scale(0.5);
    }
    .imageProject2{
        order: 1;
    }
  }
  #project1Title{
    right: 5px;
    top: 5px;
  }
  h3{
    right:5px;
    top: 5px;
  }

  @media screen and (min-width: 992px) {
    figure {
      transform: scale(1);
    }
/* I had to add these position values back in here otherwise trying to make them responsive moved them out of place */
    #project1Title{
        top: 210px;
        right: 575px;
      }
      h3{
        top: 115px;
    right: 275px;;
      }
}